# Node modules
node_modules/

# Build output
dist/
build/

# Environment variables and secrets
.env
.env.*
*.env
*.env.*
config/*.local.*
config/*.secret.*
config/*.env.*
config/*.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database dumps and sensitive files
dump.txt

# Misc
.DS_Store
